<h1> <%= @user.username %> </h1>

<dl>
  <dt>Private</dt>
  <dd> <%= @user.private %> </dd>

  <dt>Followers</dt>
  <dd>
    <%= @user.followers.count %>

       <% if @user.id == session.fetch(:user_id) %>
        <h4> Pending follow requests </h4>  
       <%= @user.pending_followers.pluck(:username).to_sentence %>
       
      <% else %> 

      <div>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="query_recipient_id" value="92">

            <button>
              Follow
            </button>
          </form>
    </div>

    <% end %>

  </dd>

  <dt>Following</dt>
  <dd><%= @user.following.count %></dd>

  <% if %>
  <% @user.id == session.fetch(:user_id) %>

  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @user.username %>">
    <label for="username_box">Username</label>
    <input type="text" id="username_box" value="<%= @user.username %>" name="query_username">

    <label for="private_box">Private?</label>
    <input id="private_box" name="query_private" type="checkbox">

      <button>Update user</button>
    </form>
  </dd>

  <% else %>
  <h4> </h4>
 <% end %> 

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @user.username %>"> Profile</a>
    </li>
    <li>
      <a href="/users/<%= @user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% @user.own_photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.poster.username %> 
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(photo.created_at) + " ago" %>
    </td>

    <td>
      <%= photo.likes_count %>
    </td>
    
    <td>
      <a href="/photos/<%= photo.id%>">
        Show details
      </a>
    </td>
  </tr>

  <% end %>
  
</table>

  </body>
</html>